name: Deploy portfolio Arafet Ferdjani to AWS Elastic Beanstalk v2
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build Spring Boot App portfolio
        working-directory: ./Profil
        run: mvn clean package -DskipTests

      - name: Generate deployment package
        run: |
          mkdir deploy
          cp Profil/target/*.jar deploy/portfolio.jar
          cd deploy
          zip -r portfolio.zip .

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload to S3
        run: aws s3 cp deploy/portfolio.zip s3://${{ secrets.S3_BUCKET }}/portfolio-${{ github.sha }}.zip

      - name: Create new application version
        run: |
          aws elasticbeanstalk create-application-version \
            --application-name arafet-ferdjani \
            --version-label "${{ github.sha }}" \
            --source-bundle S3Bucket="${{ secrets.S3_BUCKET }}",S3Key="portfolio-${{ github.sha }}.zip"

      - name: Deploy new version
        run: |
          aws elasticbeanstalk update-environment \
            --environment-name Arafet-ferdjani-env \
            --version-label "${{ github.sha }}"
